<h1>pandas.pivot_table</h1>

In [167]:
import pandas as pd
import numpy as np

path = '/Users/Sammy/Desktop/'
file = 'MacBookPro.csv'

df = pd.read_csv(path+file, sep=',', thousands=',')  #thousands=',' 옵션으로 천 단위 자리수 구분 콤마 없애고 불러오기
df

,Display,Processor,Memory,Graphics,Storage,Price,Sale,Amount
0,16-inch,2.6GHz 6-core Intel i7,16GB,AMD Radeon Pro 5300M 4GB Memory,512GB,319.0,13,4147
1,16-inch,2.6GHz 6-core Intel i7,16GB,AMD Radeon Pro 5300M 4GB Memory,1TB,346.0,50,17300
2,16-inch,2.6GHz 6-core Intel i7,16GB,AMD Radeon Pro 5300M 4GB Memory,2TB,400.0,85,34000
3,16-inch,2.6GHz 6-core Intel i7,16GB,AMD Radeon Pro 5300M 4GB Memory,4TB,481.0,0,0
4,16-inch,2.6GHz 6-core Intel i7,16GB,AMD Radeon Pro 5300M 4GB Memory,8TB,643.0,15,9645
...,...,...,...,...,...,...,...,...
85,16-inch,2.4GHz 8-core Intel i9,64GB,AMD Radeon Pro 5500M 8GB Memory,512GB,490.5,62,30411
86,16-inch,2.4GHz 8-core Intel i9,64GB,AMD Radeon Pro 5500M 8GB Memory,1TB,517.5,71,36743
87,16-inch,2.4GHz 8-core Intel i9,64GB,AMD Radeon Pro 5500M 8GB Memory,2TB,571.5,14,8001
88,16-inch,2.4GHz 8-core Intel i9,64GB,AMD Radeon Pro 5500M 8GB Memory,4TB,652.5,98,63945
89,16-inch,2.4GHz 8-core Intel i9,64GB,AMD Radeon Pro 5500M 8GB Memory,8TB,814.5,71,57830

In [168]:
rst = pd.pivot_table(df, index = ['Processor','Memory']
                       , columns = 'Storage', values = 'Price', aggfunc = np.sum)

# values = ['Price'] 리스트형태로 지정해주면 reindex 컬럼 순서를 재지정할 때 에러가 발생한다

rst

Storage                           1TB     2TB     4TB   512GB     8TB
Processor              Memory
2.4GHz 8-core Intel i9 16GB    1188.0  1350.0  1593.0  1107.0  2079.0
                       32GB    1350.0  1512.0  1755.0  1269.0  2241.0
                       64GB    1512.0  1674.0  1917.0  1431.0  2403.0
2.6GHz 6-core Intel i7 16GB    1078.5  1240.5  1483.5   997.5  1969.5
                       32GB    1240.5  1402.5  1645.5  1159.5  2131.5
                       64GB    1402.5  1564.5  1807.5  1321.5  2293.5

In [169]:
# 컬럼 순서 변경
columnsTitles = ['512GB','1TB','2TB','4TB','8TB']
rst = rst.reindex(columns=columnsTitles)
rst

Storage                         512GB     1TB     2TB     4TB     8TB
Processor              Memory
2.4GHz 8-core Intel i9 16GB    1107.0  1188.0  1350.0  1593.0  2079.0
                       32GB    1269.0  1350.0  1512.0  1755.0  2241.0
                       64GB    1431.0  1512.0  1674.0  1917.0  2403.0
2.6GHz 6-core Intel i7 16GB     997.5  1078.5  1240.5  1483.5  1969.5
                       32GB    1159.5  1240.5  1402.5  1645.5  2131.5
                       64GB    1321.5  1402.5  1564.5  1807.5  2293.5

In [171]:
rst = pd.pivot_table(df, index = ['Memory','Storage'], values = ['Sale','Amount']
                     , aggfunc = {'Sale': np.sum, 'Amount': np.sum}
                     , margins = True
                    )
rst
# 컬럼 순서 변경
columnsTitles = ['Sale', 'Amount']
rst = rst.reindex(columns=columnsTitles)
rst

                Sale   Amount
Memory Storage
16GB   1TB       337   128199
       2TB       416   180356
       4TB       213   109552
       512GB     349   122575
       8TB       318   214660
32GB   1TB       327   141098
       2TB       187    89117
       4TB       397   223686
       512GB     196    78780
       8TB       373   271585
64GB   1TB       444   216914
       2TB       183    98871
       4TB       400   248894
       512GB     209    97570
       8TB       323   254648
All             4672  2476505

In [176]:
rst = pd.pivot_table(df, index = ['Memory','Storage'], values = ['Sale','Amount']
                     , aggfunc = {'Sale': np.sum, 'Amount': [min, max, np.sum, np.mean, np.std]})
rst

                 Amount                                                Sale
                    max          mean      min           std       sum  sum
Memory Storage
16GB   1TB      32078.0  21366.500000   1798.0  11950.646137  128199.0  337
       2TB      38471.0  30059.333333  11165.0   9815.079657  180356.0  416
       4TB      45212.0  18258.666667      0.0  17155.119489  109552.0  213
       512GB    31920.0  20429.166667   4147.0  11774.748191  122575.0  349
       8TB      60970.0  35776.666667   6930.0  22389.848447  214660.0  318
32GB   1TB      34734.0  23516.333333   6832.0  10943.263164  141098.0  327
       2TB      42543.0  14852.833333   3434.0  14628.774609   89117.0  187
       4TB      52656.0  37281.000000   4001.0  19493.486871  223686.0  397
       512GB    37877.0  13130.000000   1200.0  14397.901014   78780.0  196
       8TB      54279.0  45264.166667  30627.0  10911.738458  271585.0  373
64GB   1TB      47880.0  36152.333333  13166.0  12368.859813  216914.0  444
       2TB      31030.0  16478.500000   8001.0   9491.366851   98871.0  183
       4TB      63945.0  41482.333333   2464.0  22541.229192  248894.0  400
       512GB    30411.0  16261.666667   2135.0  11988.643621   97570.0  209
       8TB      79299.0  42441.333333   8663.0  25280.114499  254648.0  323